body {
    width: 100vw;
    height: 100vh;
}
.password_generator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
.pswd-button{
    font-size: 24px;
}