body {
    width: 100vw;
    height: 100vh;
}
.password_generator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
.pswd-button{
    font-size: 24px;
    transform: scale(1.5);
    animation: small_to_big 2s linear 1;
}

@keyframes small_to_big {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.5);
    }
}